@import "tailwindcss";

@theme {
  --color-main-bg: #ffffff;
  --color-main-surface: #f9fafb;
  --color-main-border: #e2e8f0;
}

@custom-variant dark (&:where(.dark, [data-theme="dark"] *));

.dark {
  --color-main-bg: #09090b;
  --color-main-surface: #121214;
  --color-main-border: #27272a;
}